  body {
    background-color: #0218c0;
    color: rgb(0, 0, 0);
    font: 18px/36px 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    text-align: center;
  }

  header{
    font-size: 36px;
    line-height: 64px;
  }
  
  #alarmHourSelector, #alarmMinuteSelector {
    padding: 1px 0;
  }
  
  footer p {
    text-transform: uppercase;
    font-size: 14px;
  }